// stripping styles

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primaryBody;
    color: $textColor;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

// wrapper
.wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

// button
button {
    border: none;
    padding: 3px 0;
}

.readMore {
    background-color: $accents;
    width: 170px;
    // padding: 3px 0;
}
.findOutMore {
    color: $textColor;
    background-color: $secondaryAccents;
    width: 225px;
}


// footer

footer {
    text-align: center;
    background-color: $secondaryAccents;
    padding: 10px;
}

.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}