
.formContainer {
    width: 75%;
}
.contactForm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: $secondaryBody;
    position: relative;
    top: -42%;
    right: -7%;
    box-shadow: $rightShadow;
    .nameEmail {
        display: flex;
        flex-direction: row;
        .name {
            width: calc(50% - 20px);
            margin-right: 20px;
        }
        .email {
            width: 50%;
        }
    }
    input, textarea {
        font-family: $bodyFont, "sans-serif";
        padding: 25px;
        margin-bottom: 50px;
        background-color: $secondaryBody;
        font-size: $baseFontSize;
        color: $textColor;
        opacity: 1;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        border: none;
        &::placeholder {
            font-size: $baseFontSize;
            color: $textColor;
            opacity: 1;
            line-height: 2.8rem;
            letter-spacing: 0.1rem;
        }
    }
    input {
        border-bottom: 2px solid $accents;
    }
    textarea {
        border: 2px solid $accents;
    }
}

// COMMENT FORM

.commentForm {
    display: flex;
    flex-direction: column;
    padding: 0 10% 2.5% 0;
    background-color: $primaryBody;
    .nameEmail {
        display: flex;
        flex-direction: row;
        .name {
            width: calc(50% - 20px);
            margin-right: 20px;
        }
        .email {
            width: 50%;
        }
    }
    input, textarea {
        font-family: $bodyFont, "sans-serif";
        padding: 25px;
        margin-bottom: 50px;
        background-color: $primaryBody;
        font-size: $baseFontSize;
        color: $textColor;
        opacity: 1;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        border: none;
        &::placeholder {
            font-size: $baseFontSize;
            color: $textColor;
            opacity: 1;
            line-height: 2.8rem;
            letter-spacing: 0.1rem;
        }
    }
    input {
        border-bottom: 2px solid $accents;
    }
    textarea {
        border: 2px solid $accents;
    }
}