// NAV STYLES

nav {
    ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
        li {
            padding: 60px 30px 30px 0;
            a {
                padding-bottom: 3px;
                color: $textColor;
                &:hover,
                &:focus {
                    border-bottom: 2px solid $accents;
                }
            }
        }
    }
}

.mobileHeader {
    display: none;
    position: relative;
    top: 25px;
}

label {
    position: absolute;
    left: 0;
    .fa-bars {
        font-size: 5rem;
        color: $textColor;
        position: fixed;
        padding: 2%;
        z-index: 30;
    }
}

input[type="checkbox"] {
    position: relative;
    width: 7rem;
    height: 7rem;
    left: 0;
    opacity: 0;
    z-index: 30;
    cursor: pointer;
}

.mobileNav {
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 20%;
    display: none;
    li {
        background-color: $secondaryAccents;
        text-align: center;
        padding: 10%;
        &:hover,
        &:focus {
            background-color: $accents;
            color: $secondaryAccents;
            a {
                color: $secondaryAccents;
            }
        }
    }
    a {
        &:hover,
        &:focus {
            border-bottom: none;
        }
    }
}

input:checked ~ .mobileNav {
    display: block;
    transition: 1s;
}

// HEADER IMGS

.indexHeader{
    @include headerImg(url(../the-restaurant-mall-assets/home-header.jpg));
}
.contactHeader {
    @include headerImg(url(../the-restaurant-mall-assets/contact-header.jpg));
}

.blogHeader {
    @include headerImg(url(../the-restaurant-mall-assets/blog-header.jpg));
}

header {
    .headerContainer {
        @include flex(row);
    }
    .headerText {
        padding: 50px 0;
    }
    .headerImg {
        width: 53%;
        position: absolute;
        right: 0;
        top: 29%;
    }
    span {
        display: block;
        padding: 5px 5px 0 5px;
        margin-bottom: 5px;
        background-color: $textColor;
        color: $secondaryBody;
    }
}

.contactHeader,
.blogHeader {
    h2 {
        font-weight: 600;
        font-size: 6.9rem;
    }
}