// NAV STYLES

.desktopNavBar {
    ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
        li {
            padding: 60px 30px 30px 0;
            a {
                padding-bottom: 3px;
                color: $textColor;
                &:hover,
                &:focus {
                    border-bottom: 2px solid $accents;
                }
            }
        }
    }
}

// HEADER IMGS

.indexHeader{
    @include headerImg(url(../the-restaurant-mall-assets/home-header.jpg));
}
.contactHeader {
    @include headerImg(url(../the-restaurant-mall-assets/contact-header.jpg));
}

.blogHeader {
    @include headerImg(url(../the-restaurant-mall-assets/blog-header.jpg));
}

header {
    .headerContainer {
        @include flex(row);
    }
    .headerText {
        padding: 50px 0;
    }
    .headerImg {
        width: 53%;
        position: absolute;
        right: 0;
        top: 29%;
    }
    span {
        display: block;
        padding: 5px 5px 0 5px;
        margin-bottom: 5px;
        background-color: $textColor;
        color: $secondaryBody;
    }
}

.contactHeader,
.blogHeader {
    h2 {
        font-weight: 600;
        font-size: 6.9rem;
    }
}