@media (max-width: 1400px) {
    .burger {
        .topText {
            padding-left: 10%;
        }
        .bottomText {
            padding-right: 10%;
        }
    }
    .galleryImg {
        margin-left: 2%;
    }
    .galleryContainer {
        &:first-child {
            margin-left: 0;
        }
    }
    .asideContainer {
        .asideText {
            padding-top: 160%;
        }
    }
}
@media (max-width: 1250px) {
    .indexHeader,
    .contactHeader,
    .blogHeader {
        background-position: center;
        background-size: cover;
    }
    .indexPage .wrapper,
    .contactPage .wrapper,
    .blogPage .wrapper {
        width: 90%;
    }

    header {
        .headerImg {
            top: 45%;
        }
    }
    h2 {
        font-size: 4rem;
    }
    .natureContainer {
        justify-content: space-evenly;
        margin-left: 5%;
    }
    .rightContainer {
        .commentSegment {
            .commentText {
                width: 80%;
            }
        }
}
    .asideContainer {
        .asideImg {
            width: 29%;
        }
        .asideText {
            padding-top: 150%;
        }
    }
}

@media (max-width: 1080px) {
    header {
        .headerImg {
            top: 55%;
        }
    }
    .burger {
        h3 {
            font-size: calc(4rem * 0.8);
        }
        .topSegment {
            padding-bottom: 5%;
        }
    }
    .natureImg {
        width: 30%;
    }
    .natureText {
        margin-left: 5%;
    }
}

@media (max-width: 950px) {
    .mobileNavBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .desktopNavBar {
        display: none;
    }
    h2 {
        font-size: calc(4.5rem * 0.8);
    }
    h3 {
        font-size: calc(4rem * 0.8);
    }
    h4 {
        font-size: calc(2.5rem * 0.8);
    }
    p {
        font-size: calc(2rem * 0.8);
    }
    button {
        font-size: calc(2.24rem * 0.8);
    }
    .burger {
        .burgerContainer {
            padding: 0;
        }
        .burgerImg {
            top: 0;
        }
        .topText {
            padding-left: 5%;
        }
        .bottomText {
            padding-right: 1%;
        }
        .newImg {
            bottom: 0;
        }
    }
    .infoContact {
        .wrapper {
            @include flex(column-reverse);
        }
    }
    .contactInfo {
        width: 100%;
        text-align: center;
        .socialIcons {
            justify-content: center;
            .fab {
                font-size: 4.4rem;
                padding-right: 30px;
            }
        }
    }
    .formContainer {
        width: 100%;
        padding-bottom: 10%;
        .contactForm {
            position: static;
        }
    }
    .rightContainer {
        h2 {
            line-height: 5.98rem;
        }
        .commentSegment {
            .commentText {
                width: 75%;
            }
        }
    }
    aside {
        margin: 0;
        h4 {
            line-height: 3.8rem;
        }
    }
}

@media (max-width: 800px) {
    h2 {
        line-height: 5.98rem;
    }
    .about {
        padding-bottom: 10%;
        p {
            padding-bottom: 0;
        }
    }
    .burger {
        .burgerImg {
            top: 10%;
            box-shadow: 20px 20px 0px -8px $accents;
        }
        .newImg {
            bottom: 10%;
            box-shadow: -20px 20px 0px -8px $accents;
        }
    }
    .natureContainer {
        margin-left: 0;
    }
    .natureImg {
        width: 40%;
    }
    .natureText {
        width: 50%;
        margin-left: 5%;
        h2 {
            line-height: 4.98rem;
        }
    }
    .rightContainer {
        .blogImg {
            box-shadow: -20px 20px 0px -8px $accents;
        }
        .blogText {
            padding: 35% 5% 5%;
        }
        .blogComments {
            .blogWrapper {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        .headerImg {
            top: 70%;
        }
    }
    .about {
        .aboutContainer {
            @include flex(column);
        }
        .aboutSegment {
            width: 100%;
            margin: 0 5% 0 10%;
            &:nth-child(odd) {
                margin-right: 5%;
                width: 100%;
            }
        }
    }
    .burger {
        .burgerContainer {
            padding: 5% 0;
        }
        .topSegment,
        .bottomSegment {
            @include flex(column);
            padding: 5% 0;
        }
        .burgerImg,
        .newImg {
            position: static;
            width: 100%;
            margin-bottom: 10%;
        }
        .topText,
        .bottomText {
            width: 100%;
            padding: 0;
            text-align: center;
        }
        .bottomSegment {
            flex-direction: column-reverse;
        }
    }
    .giveaway {
        text-align: center;
    }
    .nature {
        .natureContainer {
            @include flex(column);
        }
        .natureImg {
            width: 50%;
            margin: 0 auto;
            img {
                box-shadow: -20px 20px 0px -8px $accents;
            }
        }
        .natureText {
            padding-top: 10%;
            margin-left: 0;
            width: 100%;
            text-align: center;
        }
    }
    .formContainer {
        padding-bottom: 50px;
    }
    .contactForm {
        padding: 25px;
        box-shadow: 20px 20px 0px -8px $accents;
        .nameEmail {
            @include flex(column);
            .name {
                width: 100%;
                margin-right: 0;
            }
            .email {
                width: 100%;
            }
        }
    }
    .blogMain {
        @include flex(column);
    }
    aside {
        width: 100%;
        padding-top: 0;
    }
    .asideContainer {
        padding: 10%;
        .asideImg {
            position: static;
            width: 50%;
        }
        .asideText {
            padding-top: 5%;
        }
    }
    .rightContainer {
        width: 100%;
        .blogImg {
            position: static;
        }
        .blogText {
            padding: 10%;
        }
        .blogComments {
            padding-left: 10%;
        }
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 4.9rem;
    }
    .about {
        .aboutSegment {
            width: 95%;
            &:nth-child(odd) {
                width: 95%;
            }
        }
    }
    .fa-stack {
        left: -55px;
        bottom: -52px;
        font-size: 2rem;
    }
    .natureContainer {
        padding-bottom: 10%;
    }
    .contactInfo {
        .socialIcons {
            justify-content: space-evenly;
            .fab {
                font-size: 4.4rem;
                padding-right: 0;
            }
        }
    }
    .rightContainer {
        .blogComments {
            padding-left: 5%;
        }
        .commentForm {
            .nameEmail {
                @include flex(column);
                .name,
                .email {
                    width: 100%;
                }
            }
        }
    }

}