// main font = Josefin Sans
// body text font = Barlow

// base font size = 1

// accents = sunflower yellow
// $accents = #FFD300

// secondary accent = black
// secondaryAccents = #0F0F0F

// main text = white
// $mainText = #FFFFFF

// primary background color = pine
// $primaryBody = #2B331B

// secondary background color = almost black
// $secondaryBody = #171B0E

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Josefin+Sans:wght@400;600;700&display=swap');

$mainFont: "Josefin Sans";
$bodyFont: "Barlow";

$baseFontSize: 2rem;

$accents: #FFD300;
$secondaryAccents: #0F0F0F;
$textColor: #FFFFFF;
// pine green
$primaryBody: #2B331B;
// almost black
$secondaryBody: #171B0E;

$leftShadow: -25px 25px 0px -7px $accents;
$rightShadow: 25px 25px 0px -7px $accents;

// HEADER MIXIN

@mixin headerImg($imgLink) {
    background-image: $imgLink;
    background-repeat: no-repeat;
    padding-bottom: 268px;
    position: relative;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}