@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Josefin+Sans:wght@400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B331B;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

button {
  border: none;
  padding: 3px 0;
  cursor: pointer;
  background-color: #FFD300;
}
button:hover, button:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: #0F0F0F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.readMore {
  width: 170px;
}

.findOutMore {
  color: #FFFFFF;
  background-color: #0F0F0F;
  width: 225px;
}

.submit {
  color: #171B0E;
}

.postComment {
  color: #2B331B;
}

footer {
  text-align: center;
  background-color: #0F0F0F;
  padding: 10px;
}
footer p {
  padding-bottom: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 6.9rem;
}

h2 {
  font-size: 4.5rem;
  line-height: 9.98rem;
}

h3 {
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.08rem;
}

button {
  font-size: 2.24rem;
  line-height: 4.16rem;
}

nav {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
}

p {
  font-family: "Barlow", "sans-serif";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
  padding-bottom: 30px;
}
p .dates {
  font-weight: 600;
}

.fab {
  font-size: 2.4rem;
  padding-right: 20px;
  color: #FFD300;
}

.mobileNavBar {
  display: none;
  position: sticky;
  top: 0;
  background-color: #0F0F0F;
  height: 7.5vh;
  padding: 3% 5%;
  z-index: 20;
}

.restaurantLogo {
  width: 30%;
}
.restaurantLogo a {
  color: #FFFFFF;
}
.restaurantLogo h3 {
  display: inline;
}

.mobileHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}
.mobileHeader nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

label {
  position: relative;
}
label .fa-bars {
  font-size: 5rem;
  color: #FFFFFF;
  padding: 2%;
  z-index: 20;
}

input[type=checkbox] {
  position: absolute;
  width: 7rem;
  height: 7rem;
  right: 3%;
  top: 15%;
  opacity: 0;
  z-index: 30;
  cursor: pointer;
}
input[type=checkbox]:checked ~ .mobileNav {
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
input[type=checkbox]:not(:checked) ~ .mobileNav {
  right: -500px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.mobileNav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 81px;
  width: 50%;
}
.mobileNav li {
  background-color: #0F0F0F;
  text-align: center;
  padding: 10%;
}
.mobileNav li a {
  color: #FFFFFF;
}
.mobileNav li:hover, .mobileNav li:focus {
  background-color: #FFD300;
  color: #0F0F0F;
}
.mobileNav li:hover a, .mobileNav li:focus a {
  color: #0F0F0F;
}
.mobileNav a:hover, .mobileNav a:focus {
  border-bottom: none;
}

@media (max-width: 950px) {
  .mobileNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .desktopNavBar {
    display: none;
  }

  h2 {
    font-size: calc(4.5rem * 0.8);
  }

  h3 {
    font-size: calc(4rem * 0.8);
  }

  h4 {
    font-size: calc(2.5rem * 0.8);
  }

  p {
    font-size: calc(2rem * 0.8);
  }

  button {
    font-size: calc(2.24rem * 0.8);
  }
}
@media (max-width: 800px) {
  .burger .burgerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 5%;
  }

  .natureContainer {
    margin-left: 0;
  }

  .natureImg {
    width: 40%;
  }

  .natureText {
    width: 50%;
    margin-left: 5%;
  }
  .natureText h2 {
    line-height: 4.98rem;
  }
}
.desktopNavBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.desktopNavBar ul li {
  padding: 60px 30px 30px 0;
}
.desktopNavBar ul li a {
  padding-bottom: 3px;
  color: #FFFFFF;
}
.desktopNavBar ul li a:hover, .desktopNavBar ul li a:focus {
  border-bottom: 2px solid #FFD300;
}

.indexHeader {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
  background-repeat: no-repeat;
  padding-bottom: 268px;
  position: relative;
}

.contactHeader {
  background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
  background-repeat: no-repeat;
  padding-bottom: 268px;
  position: relative;
}

.blogHeader {
  background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
  background-repeat: no-repeat;
  padding-bottom: 268px;
  position: relative;
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headerText {
  padding: 50px 0;
}
header .headerImg {
  width: 53%;
  position: absolute;
  right: 0;
  top: 29%;
}
header span {
  display: block;
  padding: 5px 5px 0 5px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
  color: #171B0E;
}

.contactHeader h2,
.blogHeader h2 {
  font-weight: 600;
  font-size: 6.9rem;
}

section {
  padding: 5% 0;
}

.aboutContainer,
.topSegment,
.bottomSegment,
.natureContainer,
.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutSegment,
.burgerContainer,
.giveaway .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  padding-top: 10%;
}
.about .aboutContainer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about .aboutSegment {
  width: calc(50% - 75px);
  margin-left: 50px;
}
.about .aboutSegment a {
  color: #FFFFFF;
}
.about .aboutSegment a:hover, .about .aboutSegment a:focus {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about .aboutSegment h2 {
  position: relative;
}
.about .aboutSegment:nth-child(odd) {
  margin-right: 25px;
  width: calc(50% - 75px);
}

.fa-stack {
  left: -65px;
  bottom: -70px;
  font-size: 2.4rem;
}

.fa-stack-1x {
  color: #171B0E;
  z-index: 10;
}

.fa-stack-2x {
  color: #FFD300;
}

.burger {
  background-color: #171B0E;
  position: relative;
}
.burger .topSegment {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10%;
}
.burger .bottomSegment {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.burger .burgerImg {
  width: 42%;
  position: absolute;
  left: 0;
  top: -5%;
  -webkit-box-shadow: 25px 25px 0px -7px #FFD300;
          box-shadow: 25px 25px 0px -7px #FFD300;
}
.burger .topText {
  width: 55%;
  padding-left: 15%;
}
.burger .bottomText {
  width: 55%;
  padding-right: 15%;
  text-align: right;
}
.burger .newImg {
  width: 42%;
  position: absolute;
  right: 0;
  bottom: -5%;
  -webkit-box-shadow: -25px 25px 0px -7px #FFD300;
          box-shadow: -25px 25px 0px -7px #FFD300;
}

.giveaway .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.giveaway h2 {
  color: #FFD300;
  padding-top: 50px;
}
.giveaway p {
  width: 85%;
}
.giveaway button {
  margin-bottom: 10%;
}

.storeImg {
  padding: 0;
}

.natureImg {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.natureImg img {
  -webkit-box-shadow: -25px 25px 0px -7px #FFD300;
          box-shadow: -25px 25px 0px -7px #FFD300;
}

.natureText {
  width: 65%;
  margin-left: 10%;
}
.natureText h2 {
  color: #FFD300;
}

.gallery {
  background-color: #171B0E;
}
.gallery .galleryContainer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.infoContact {
  padding-bottom: 0;
}
.infoContact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfo {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactInfo .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactInfo .socialIcons i:hover, .contactInfo .socialIcons i:focus {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blogContainer,
.rightContainer,
.blogPost,
.blogText,
.blogComments,
.commentText,
.asideContainer,
.asideText,
.asideLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogMain,
.commentSegment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightContainer {
  width: 63%;
  position: relative;
}
.rightContainer h2,
.rightContainer .dates {
  color: #FFD300;
}
.rightContainer .blogPost,
.rightContainer .blogComments {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-bottom: 50px;
}
.rightContainer .blogImg {
  -webkit-box-shadow: -25px 25px 0px -7px #FFD300;
          box-shadow: -25px 25px 0px -7px #FFD300;
  position: absolute;
  top: -7%;
  right: 0;
}
.rightContainer .blogText {
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
  padding: 45% 10% 10%;
}
.rightContainer .blogText .dates {
  color: #FFFFFF;
  font-weight: 600;
}
.rightContainer .blogComments {
  padding-top: 0;
}
.rightContainer .blogComments .blogWrapper {
  width: 90%;
}
.rightContainer .commentSegment {
  padding: 2.5% 10% 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rightContainer .commentSegment .commentImg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 1%;
}
.rightContainer .commentSegment .commentText {
  width: 85%;
  padding-bottom: 5%;
}
.rightContainer .commentSegment .commentText .dates {
  padding-bottom: 1rem;
}

aside {
  width: 25%;
  margin: 0 auto;
  padding-top: 5%;
}

.asideContainer {
  background-color: #171B0E;
  padding: 0 25px 25px 25px;
}
.asideContainer .asideImg {
  position: absolute;
  left: 0;
}
.asideContainer .asideText {
  padding-top: 450px;
}
.asideContainer h4 {
  color: #FFD300;
}
.asideContainer a {
  color: #FFFFFF;
}
.asideContainer ul {
  list-style: disc inside;
}
.asideContainer ul p {
  display: inline;
  padding: 10px;
}
.asideContainer ul p:hover, .asideContainer ul p:focus {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formContainer {
  width: 75%;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  background-color: #171B0E;
  position: relative;
  top: -42%;
  right: -7%;
  -webkit-box-shadow: 25px 25px 0px -7px #FFD300;
          box-shadow: 25px 25px 0px -7px #FFD300;
}
.contactForm .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contactForm .nameEmail .name {
  width: calc(50% - 20px);
  margin-right: 20px;
}
.contactForm .nameEmail .email {
  width: 50%;
}
.contactForm input, .contactForm textarea {
  font-family: "Barlow", "sans-serif";
  padding: 25px;
  margin-bottom: 50px;
  background-color: #171B0E;
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
  border: none;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.contactForm input {
  border-bottom: 2px solid #FFD300;
}
.contactForm textarea {
  border: 2px solid #FFD300;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10% 2.5% 0;
  background-color: #2B331B;
}
.commentForm .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.commentForm .nameEmail .name {
  width: calc(50% - 20px);
  margin-right: 20px;
}
.commentForm .nameEmail .email {
  width: 50%;
}
.commentForm input, .commentForm textarea {
  font-family: "Barlow", "sans-serif";
  padding: 25px;
  margin-bottom: 50px;
  background-color: #2B331B;
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
  border: none;
}
.commentForm input::-webkit-input-placeholder, .commentForm textarea::-webkit-input-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.commentForm input::-moz-placeholder, .commentForm textarea::-moz-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.commentForm input:-ms-input-placeholder, .commentForm textarea:-ms-input-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.commentForm input::-ms-input-placeholder, .commentForm textarea::-ms-input-placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.commentForm input::placeholder, .commentForm textarea::placeholder {
  font-size: 2rem;
  color: #FFFFFF;
  opacity: 1;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
.commentForm input {
  border-bottom: 2px solid #FFD300;
}
.commentForm textarea {
  border: 2px solid #FFD300;
}

@media (max-width: 1400px) {
  .burger .topText {
    padding-left: 10%;
  }
  .burger .bottomText {
    padding-right: 10%;
  }

  .galleryImg {
    margin-left: 2%;
  }

  .galleryContainer:first-child {
    margin-left: 0;
  }
}
@media (max-width: 1250px) {
  .indexHeader,
.contactHeader,
.blogHeader {
    background-position: center;
    background-size: cover;
  }

  .index .wrapper {
    width: 90%;
  }

  header .headerImg {
    top: 45%;
  }

  h2 {
    font-size: 4rem;
  }

  .natureContainer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 5%;
  }
}
@media (max-width: 1080px) {
  header .headerImg {
    top: 55%;
  }

  .burger h3 {
    font-size: calc(4rem * 0.8);
  }
  .burger .topSegment {
    padding-bottom: 5%;
  }

  .natureImg {
    width: 30%;
  }

  .natureText {
    margin-left: 5%;
  }
}
@media (max-width: 950px) {
  .mobileNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .desktopNavBar {
    display: none;
  }

  h2 {
    font-size: calc(4.5rem * 0.8);
  }

  h3 {
    font-size: calc(4rem * 0.8);
  }

  h4 {
    font-size: calc(2.5rem * 0.8);
  }

  p {
    font-size: calc(2rem * 0.8);
  }

  button {
    font-size: calc(2.24rem * 0.8);
  }

  .burger .burgerContainer {
    padding: 0;
  }
  .burger .burgerImg {
    top: 0;
  }
  .burger .topText {
    padding-left: 5%;
  }
  .burger .bottomText {
    padding-right: 1%;
  }
  .burger .newImg {
    bottom: 0;
  }
}
@media (max-width: 800px) {
  h2 {
    line-height: 5.98rem;
  }

  .about {
    padding-bottom: 10%;
  }
  .about p {
    padding-bottom: 0;
  }

  .burger .burgerImg {
    top: 10%;
    -webkit-box-shadow: 20px 20px 0px -8px #FFD300;
            box-shadow: 20px 20px 0px -8px #FFD300;
  }
  .burger .newImg {
    bottom: 10%;
    -webkit-box-shadow: -20px 20px 0px -8px #FFD300;
            box-shadow: -20px 20px 0px -8px #FFD300;
  }

  .natureContainer {
    margin-left: 0;
  }

  .natureImg {
    width: 40%;
  }

  .natureText {
    width: 50%;
    margin-left: 5%;
  }
  .natureText h2 {
    line-height: 4.98rem;
  }
}
@media (max-width: 600px) {
  header .headerImg {
    top: 70%;
  }

  .about .aboutContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .aboutSegment {
    width: 100%;
    margin: 0 5% 0 10%;
  }
  .about .aboutSegment:nth-child(odd) {
    margin-right: 5%;
    width: 100%;
  }

  .burger .burgerContainer {
    padding: 5% 0;
  }
  .burger .topSegment,
.burger .bottomSegment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5% 0;
  }
  .burger .burgerImg,
.burger .newImg {
    position: static;
    width: 100%;
    margin-bottom: 10%;
  }
  .burger .topText,
.burger .bottomText {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .burger .bottomSegment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .giveaway {
    text-align: center;
  }

  .nature .natureContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nature .natureImg {
    width: 50%;
    margin: 0 auto;
  }
  .nature .natureImg img {
    -webkit-box-shadow: -20px 20px 0px -8px #FFD300;
            box-shadow: -20px 20px 0px -8px #FFD300;
  }
  .nature .natureText {
    padding-top: 10%;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 4.9rem;
  }

  .about .aboutSegment {
    width: 95%;
  }
  .about .aboutSegment:nth-child(odd) {
    width: 95%;
  }

  .fa-stack {
    left: -55px;
    bottom: -52px;
    font-size: 2rem;
  }

  .natureContainer {
    padding-bottom: 10%;
  }
}